/* 少部分样式需要额外调整 */
@media screen and (min-width: 350px) and (max-width: 800px) {
  #app {
    .page-content {
      padding: 10px;
    }
    .el-card__body{
      padding: 20px 0;
    }
    /* .el-menu{
      width: 125px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      height: 100%;
    } */

    .charts-container{
        position: relative;
        height: 430px;
    }
  }
}